/*-------------------------*/
/*--------- IMPORTS -------*/
/*-------------------------*/

/* IMPORT RESET CSS */
@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");

/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');



/*-------------------------*/
/*---------- BODY ---------*/
/*-------------------------*/

body {
    font-family: "Roboto", sans-serif;
    font-size: 17px; 
}

p {
    margin: 25px 0;
}

/* Heading 1 is the hero text on the image at the top*/
h1 {
    font-size: 90px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

/* Heading 2 are any section headings on each page */
h2 {
    font-size: 30px; 
    font-weight: bold;
    padding: 0px 0px 20px;
    line-height: 30px;
}

/* Heading 3 is only used on the location of the site and image carousels */
h3 {
    font-size: 22px;
    font-weight: bold;
    padding: 20px 0px;
    line-height: 30px;
}

/* Creating the dot points for any lists */
.wrapper ul {
    list-style-type: circle;
    padding-left: 18px;
}

/* Turn hyperlinks blue and make them underline when hovered */
a {
    color: #001cc2;
    text-decoration: none;
}
    a:hover {
        text-decoration: underline;
    }  

/* Give quotes the appropirate quotation marks */
q {
  quotes: "“" "”" "‘" "’";
}

    q::before {
    content: open-quote;
    }
    q::after {
        content: close-quote;
    }

/* Make the map on the main page the correct size*/
iframe {
    width: 100%;
    height: 500px;
}


/*-------------------------*/
/*------- NAVIGATION ------*/
/*-------------------------*/

/* Create the navigatoin bar at the top, and make it fixed */
/* Specifies our Javascript sticky header and gives it an animation */
#navigation {
    background-color: white;
    list-style-type: none;
    width: 100%;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
/* JS Sticky Header CSS*/
    position: fixed;
    top: 0;
    transition: top 0.3s;
    z-index: 1;
}

/* Make the logo appear inline and give it a margin */
    #navigation li {
        display: inline-block;
        margin: 30px 0 30px 0;
    }

    /* Make underline hover only go  */
        #navigation li a{
            color: black;
            text-decoration: none;
            padding: 15px 20px;
            position: relative;
        }

/* Specify the font size and weight for the logo */
#logo {
    font-size: 40px;
    display: inline-block;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    color: black;
    text-decoration: none;
}

/* Float the other navigation to the right and give it the same 
   padding as the logo element */
.nav-element {
    float: right;
    padding: 10px;
}

/* Specify the font size for the left navigation */
    .nav-element li a{
        font-size: 19px;
    }

/* Tell the user which page they are on now using a lightgrey colour */
#current-page {
    background-color: lightgrey;
}


/*-----------------------------*/
/* NAVIGATION UNDERLINE EFFECT */
/*-----------------------------*/

/* Create a grey 4px line that appears which will appear when the user hovers */
/* This appears below each of the navigational items after its been selected*/
#navigation li a:after {    
        bottom: 0;
        content: "";
        height: 4px;
        left: 50%;
        position: absolute;
        background: grey;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
}

/* Code which tells the line to appear after the user hovers */
#navigation li a:hover:after { 
        width: 100%; 
        left: 0; 
}


/*-------------------------*/
/*----- HOME PAGE HERO ----*/
/*-------------------------*/

/* Hero image on the home page (the hero images also have parrallax scrolling) */
#hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/extra1-churchill-house-by-robin%20boyd-photo-copyright-darren-bradley.jpg');
    height: 750px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* This is the positioning of the hero text on the main page */
#hero-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Hides the image which was added through html. This is better for accessibility as people with a 
screen reader could not read the image which was added through css */


/*-------------------------------------------------------------------------*/
/* NEED TO INCLUDE A HIDDEN IMAGE FOR ALL THE PAGES WHICH USE A HERO IMAGE */
/*-------------------------------------------------------------------------*/

#hero-img-hidden {
    visibility: hidden;
    width: 100%;
    height: 100%;
}


/*-------------------------*/
/* OTHER PAGE HERO CONTENT */
/*-------------------------*/

/* This is the hero image for the description page (the hero images also have parallax scrolling) */
#hero-image-desc {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/churchill-house-4.jpg');
    height: 750px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    
}

/* This is the hero image for the history page (the hero images also have parallax scrolling) */
#hero-image-hist {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/churchill-house-18.jpg');
    height: 750px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

/* This is the hero image for the architecture page (the hero images also have parallax scrolling) */
#hero-image-arch {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/extra2-robin%20boyd%20portrait-copyright-Mark-Strizic.jpg');
    height: 750px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* This is the positioning of the hero text on the description, history and architecture 
pages */
#hero-text-alt {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}


/*-------------------------*/
/*----- WRAPPER TEXT ------*/
/*-------------------------*/

/* The wrapper specifies the how the main content looks */
.wrapper {
    width: 40%;
    margin: 110px auto;
    line-height: 23px; 
}

/* This alternate wrapper is used as the title on the image 
carousel, the main purpose is to connect the slider to the heading text
without creating a 110px distance between these two */
.wrapper-no-padding {
    width: 40%;
    margin: 0 auto;
    line-height: 23px; 
}


/*---------------------------------------*/
/* TEXT AND IMAGE SIDE BY SIDE CONTAINER */
/*---------------------------------------*/

/* This is used in the description page to highlight the north wing */
/* An image and text are used in the same box */

/* Sets the main contaniner on the page */
.text-img-container {
    display: flex;
    background-color: lightgrey;
    width: 70%;
    margin: 0 auto;
}

/* As the box is made up of two divs, this styles these two sides by giving 
them borders */
.text-img-container div {
    margin: 10px;
    padding: 60px;
    font-size: 30px;
    width: 50%;
    text-align: center;
}

/* Sets the line height and font size for the text side (left) */
.text-img-container div p{
    font-size: 17px;
    line-height: 23px;
}

/* Sets the style for the image in the image side (right) */
.text-img-container div img{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}


/*-------------------------*/
/*-------- IMAGES ---------*/
/*-------------------------*/

/* Most of the image styling is for individual items as different images needed
different treatment to get them working on the site */

/* The image row and column refer to when two images are placed side by side.
This occurs on the home page and the architect page. They are placed in a flexbox
so they remain responsive. */ 

.image-row {
    background-color: lightgrey;
    padding: 5%;
}

.image-column {
/*    background-color: darkgrey;*/
    width: 48.5%;
    padding: 5px;
}

/* This class refers to horizontal images which (are mostly on the description page)*/
.big-img-horz {
    display: block;
    margin: 0 auto;
    width: 50%;
}

/* This class refers to the horizontal image on the history page. It needed special treatment 
as it was interfering with the footer */
.big-img-horz-margin {
    display: block;
    margin: 0 auto 40px;
    width: 50%;
}

/* This is the styling for the only figure found on the architect page */
.big-img-figure {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* This class specifies the styling for the vertical image found on the history page */
.big-img-vert {
    display: block;
    margin: 0 auto;
    height: 800px;
}

/*-------------------------*/
/*------ IMAGE CAROSEL ----*/
/*-------------------------*/

/* The styling for the image carousel at the bottom of the description page. 
However this implementation is not the best as its not really visible */
/* Main class for the whole carousel */
.carousel {
    display: flex;
    overflow-x: auto;
    margin: 20px 0 50px 0;
}
/* Class for each individual image class in the carousel */
.carousel-img {
/*    float: left;*/
    width: 40%;
    margin: 0 auto;
    height: auto;
    padding: 0 20px 0 20px;
    
}


/*-------------------------*/
/*--------- FOOTER --------*/
/*-------------------------*/

/* Creating the footer. I wanted the footer to stand out from the other content so I used
a light grey colour scheme and a lot of padding */
footer { 
    background-color: lightgrey;
    padding: 80px;
    text-align: center;
}

/* Copies a similar structure to the wrapper mentioned above. Makes sure to use similar line height */
footer p {
    width: 35%;
    margin: 30px auto;
    line-height: 23px; 
}

/* Styling of the footer navigation */
.footer-nav {
    list-style: none;
    margin-bottom: 60px;
}

/* Making the footer navigation display horizontally instead of vertically */
.footer-nav li {
    display: inline;
}

/* This is the individual styling for each link in the footer navigation */
.footer-nav li a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 15px 20px;
    position: relative;
/*    background-color: grey;*/
    border: 1px solid black;
}

/* Removing the previous hover underline link (as we want to replace it with the thicker lined one) 
Also adding a background colour when the user hovers over it */
.footer-nav li a:hover {
    text-decoration: none;
    background-color: grey;
}


/*-------------------------*/
/*----- MEDIA QUERIES -----*/
/*-------------------------*/

/*-------------------------*/
/*-- MEDIA QUERY > 1101px -*/
/*-------------------------*/

@media screen and (min-width: 1101px) {

    .mobile-menu {
        display:none;
    }
    
}

/*-------------------------*/
/*-- MEDIA QUERY < 1100px -*/
/*-------------------------*/

/* This was identified as a breakpoint*/
@media screen and (max-width: 1100px) {
    body {
        background-color: pink;
        font-size: 1vw;
    }
    
    section p {
        margin: 20px 0;
    }
    
    .wrapper {
        width: 70%;
        margin: 100px auto;
        line-height: 30px;
    }

    footer {
        font-size: 2.3vw;
    }
    
    footer a {
        font-size: 0.9vw;
    }
    
    .footer-nav a{
        font-size: 2.3vw;
    }
    
    footer p {
        width: 80%;
        margin: 40px auto;
        line-height: 23px;
    }

    
    #hero-text {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    #hero-text-alt {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    
    .big-img-horz {
        display: block;
        margin: 0 auto;
        width: 80%;
    }
    
    .big-img-horz-margin {
        display: block;
        margin: 0 auto 40px;
        width: 80%;
    }
    
    .big-img-vert {
        display: block;
        margin: 0 auto;
        height: 700px;
    }
    
    .big-img-figure img{
        display: block;
        margin: 0 auto;
        width: 90%;
        text-align: center;
    }
    
    .image-column {
        width: 100%;
    }
    
    .text-img-container {
        display: block;
        width: 100%;
        
    }
    
    .text-img-container div {
        margin: 0 auto;
        width: 70%;
        text-align: left;
        padding: 60px 30px;
    }
    
    .text-img-container div p {
        font-size: 1vw;
    }
    
    
    /*-------------------------*/
    /*------ MOBILE MENU ------*/
    /*-------------------------*/

    /* Remove the desktop menu */
    .nav-element {
        display:none;
    }
    
    /* Menu Wrap is the main wrapping container for the whole mobile menu. This makes sure the mobile menu appears above the rest of the content */
    .menu-wrap {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    /* Toggler is the invisible checkbox which sees if the menu has been selected. If it has been selected the mobile menu will appear*/
    .toggler {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        cursor: pointer;
        width: 100px;
        height: 100px;
        opacity: 0;
        margin: 0px;
    }
    
    /* Hamburger is the class for the hamburger icon */
    .hamburger {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        width: 60px;
        height: 60px;
        padding: 20px;
        background: grey;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: #ffffff;
    }
    
    
    /* This is the class for the x icon to dismiss the menu once you open it */
    .hamburger-exit{
        display: none;
    }
    
    /* This checks to see if the toggler is checked. If it is checked than the user has clicked to open the mobile menu. The hamburger icon therefore becomes invisible. */
    .toggler:checked ~ .hamburger {
        visibility: hidden;
    }
    
    /* This checks to see if the toggler is checked. If it is checked than the user has clicked to open the mobile menu. The X icon therefore appears in the spot where the hamburger menu was. */
    .toggler:checked ~ .hamburger-exit {
        display: flex;    
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        width: 60px;
        height: 60px;
        padding: 20px;
        align-items: center;
        justify-content: center;
        fill: #ffffff;
    }
    
    /* This checks to see if the toggler is checked. If it is checked than the user has clicked to open the mobile menu. The mobile navigation links therefore becomes visibile to the user */
    .toggler:checked ~ .menu {
        visibility: visible;
    }

    /* This checks to see if the toggler is checked. If it is checked than the user has clicked to open the mobile menu. The overlay appears with a 0.75s transition and a transform scale of 1 */
    .toggler:checked ~ .menu div {
        transform: scale(1);
        transition-duration: 0.75s;
    }
    
    /* This makes the menu visible and gives it a transition so that it appears after the grey overlay transition */
    .toggler:checked ~ .menu div div {
        opacity: 1;
        transition:  opacity 0.4s ease 0.4s;
    }

    /* This sets the position of the grey overlay menu. It is of course invisible until the user clicks the checkbox*/
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    /* The overlay is the colour and the shape which sits behind the menu text. The circle shape helps to give a rounded animation, like its popping out from a circle*/
    .overlay {
        background: grey;
        border-radius: 50%;
        width: 300vw;
        height: 300vw;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }
    
    /* Sets the text alignment of the content and the maximum width/height of the text. */
    .menu > div > div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }
    
    /* Main styling for the list items*/
    .mobile-menu li {
        list-style: none;
        color: #fff;
        font-size: 5vw;
        padding: 3rem;
    }
    
    /* Styling for the link tags tags*/
    .mobile-menu > li > a {
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease;
    }
 
    
    /* Fix up the navigation so it only appears at the top for people on smaller screen sizes */
    #navigation{
        background-color: white;
        list-style-type: none;
        width: 100%;
        box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        /* JS Sticky Header CSS*/
        position: absolute;
        top: 0 !important;
        transition: top 0.3s;
        z-index: 1;
    }
}



/*-------------------------*/
/*-- MEDIA QUERY < 700px --*/
/*-------------------------*/

@media screen and (max-width: 700px) {
    body {
        background-color: blue;
        font-family: "Roboto", sans-serif;
        font-size: 17px; 
    }
    .wrapper{
        width: 80%;
        margin: 80px auto;
        line-height: 23px; 
    }
    footer p {
        width: 80%;
        margin: 30px auto;
    }
    
    .big-img-vert {
        display: block;
        margin: 0 auto;
        height: 500px;
    }
    
    #hero-text {
        position: absolute;
        top: 30%;
        left: 50%;
/*        transform: translate(-50%, -50%);*/
    }
    
    
}


