/* Reference for CSS stuff "cssreference.io" */


/* CLASS = .  ID = # */
/* MARGIN = top right bottom left
          = top right&left bottom
          = top&bottom left&right
*/


/* IMPORT RESET CSS */
@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");

/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*-----------------------------------------*/
/* BODY ELEMENTS */
body {
    font-family: "Roboto", sans-serif;
    font-size: 17px; 
}

p {
    margin: 25px 0 25px 0;
}

h1 {
    font-size: 90px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

h2 {
    font-size: 30px; 
    font-weight: bold;
    padding: 0px 0px 20px;
    line-height: 30px;
}

h3 {
    font-size: 22px;
    font-weight: bold;
    padding: 20px 0px;
    line-height: 30px;
}

.wrapper ul {
    list-style-type: circle;
    padding-left: 18px;
}

a {
    color: #001cc2;
    text-decoration: none;
}
    a:hover {
        text-decoration: underline;
    }  

q {
  quotes: "“" "”" "‘" "’";
}

    q::before {
    content: open-quote;
    }
    q::after {
        content: close-quote;
    }

/* -------------------------------------- */
/* NAVIGATION */
#navigation {
    background-color: white;
    list-style-type: none;
    width: 100%;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
/* JS Sticky Header CSS*/
    position: fixed;
    top: 0;
    transition: top 0.3s;
    z-index: 1;
}

    #navigation li {
        display: inline-block;
        margin: 30px 0 30px 0;
    }

        #navigation li a{
            padding: 20px;
            
            /* TESTING UNDERLINE HOVER*/
            color: black;
            text-decoration: none;
            padding: 15px 20px;
            position: relative;
        }

#logo {
    font-size: 35px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-left: 10px;
}

.nav-element {
    float: right;
    padding: 10px;
}

    .nav-element li a{
        font-size: 19px;
        color: black;
        text-decoration: none;
    }

#current-page {
    background-color: lightgrey;
}

/*-----------------------------------*/
/* ACTIVE AND HOVER */
/*
#navigation li a:hover {
    text-decoration: underline;
    background-color: lightblue;
}

#navigation li:active {
    text-decoration: underline;
}
*/

/* TESTING NAVIGATION UNDERLINE EFFECT*/
#navigation li a:after {    
        bottom: 0;
        content: "";
        height: 4px;
        left: 50%;
        position: absolute;
        background: grey;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
}

#navigation li a:hover:after { 
        width: 100%; 
        left: 0; 
}


/*------------------------------------*/
/*HERO CONTENT (MAIN)*/
.filter {
    height: 700px;
    background: black;
    overflow: hidden;
}

#hero-image {
    height: 700px;
    background-image:
        url('../images/extra1-churchill-house-by-robin%20boyd-photo-copyright-darren-bradley.jpg');
    background-size: cover;
    overflow: hidden;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
    opacity: 0.6;
}

#hero-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Make the HTML cover image hidden as there is more control with a css background image*/
#hero-img-hidden {
    visibility: hidden;
    width: 100%;
    height: 100%;
}

/*-------------------------------------*/
/*ALL OTHER PAGES HERO CONTENT*/

.filter-alt {
    height: 600px;
    background: black;
    overflow: hidden;
}


#hero-image-desc {
    height: 600px;
    background-image:
        url('../images/churchill-house-4.jpg');
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;  
    background-position: bottom;
    z-index: -1;
    opacity: 0.7;
}

#hero-image-hist {
    height: 600px;
    background-image:
        url('../images/churchill-house-18.jpg');
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;  
    background-position: bottom;
    z-index: -1;
    opacity: 0.7;
}

#hero-image-arch {
    height: 600px;
    background-image:
        url('../images/extra2-robin%20boyd%20portrait-copyright-Mark-Strizic.jpg');
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;  
    background-position: center;
    z-index: -1;
    opacity: 0.5;
}

#hero-text-alt {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}


/*----------------------------------*/
/* WRAPPER TEXT*/

.wrapper {
    width: 35%;
    margin: 110px auto;
    line-height: 23px; 
}

.wrapper-no-padding {
    width: 35%;
    margin: 0 auto;
    line-height: 23px; 
}

.wrapper-side-img {
    background-color: lightgrey;
    padding: 20px 0 20px 0;
    line-height: 23px;
    display: inline;
    margin: 0 auto;
    width: 35%;
}

/*---------------------------------*/
/* TEXT AND IMAGE SIDE BY SIDE CONTAINER*/

.text-image-container {
    display: flex;
    background-color: lightgrey;
    width: 70%;
    margin: 0 auto;
}

.text-image-container div {
    background-color: lightgray;
    margin: 10px;
    padding: 60px;
    font-size: 30px;
    width: 50%;
    text-align: center;
}

.text-image-container div p{
    font-size: 17px;
    line-height: 23px;
}


.text-image-container div img{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}


/*------------------------------*/
/* IMAGES */
.image-row {
    display: flex;
    background-color: lightgrey;
    padding: 20px 0 20px 0;
}

.image-column {
    float: left;
    width: 35%;
    margin:0 auto;
}

.big-img-horz {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.big-img-horz-margin {
    display: block;
    margin: 0 auto 40px;
    width: 50%;
}

.big-img-figure {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.big-img-vert {
    display: block;
    margin: 0 auto;
    height: 800px;
}


/*------------------------------------*/
/* IMAGE CAROSEL */
.carousel {
    display: flex;
    overflow-x: auto;
    margin: 20px 0 50px 0;
}

.carousel-img {
/*    float: left;*/
    width: 40%;
    margin: 0 auto;
    height: auto;
    padding: 0 20px 0 20px;
    
}

/*-------------------------------*/
/* FOOTER */
footer { 
    background-color: lightgrey;
    padding: 80px;
    text-align: center;
}

footer p {
    width: 35%;
    margin: 30px auto;
    line-height: 23px; 
}

footer ul {
    list-style: none;
    margin-bottom: 60px;
}

footer ul li {
    display: inline;
}

footer ul li a {
    color: black;
    text-decoration: none;
/*    display: inline-block;*/
    padding: 15px 20px;
    position: relative;
    background-color: grey;
}

footer ul li a:after {    
        bottom: 0;
        content: "";
        height: 3px;
        left: 50%;
        position: absolute;
        background: aqua;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
}

footer ul li a:hover{
    text-decoration: none;
}

footer ul li a:hover:after { 
        width: 100%; 
        left: 0; 
}

/* REMEMBER CSS SPECIFICITY */
/* !important -> ID -> Class -> General tag*/

/* CSS MEDIA QUERIES */
/*@ media screen and (min-width)*/


/*Grids */

/*
footer {
disply: grid;
grid-template-columns: 40px 1fr 40px;
}
*/

/*
grid-column: 1/4; defines the starting and ending lines fo the grid

grid-gap: 1 rem; defines spacing around your gird elemenets

align-items: start; to stop elements from stretching out


first-of-type selector. 

nth-of-type(3) is another advanced selector
*/



/*
Two column layout

main {
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 2rem;
margin: 2rem;
}

id {
grid-row: 1/4;
}

*/

/*
https://www.w3schools.com/css/css_rwd_mediaqueries.asp
https://css-tricks.com/snippets/css/complete-guide-grid/

*/
